@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css');

body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

@layer base {
  h1 {
    @apply mb-6 text-3xl font-semibold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  p {
    @apply mb-4;
  }
  a {
    @apply text-blue-500 hover:text-blue-400 dark:text-blue-400 dark:hover:text-blue-300;
  }
}

/* Post styles */

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply border border-gray-200 bg-gray-50 dark:border-gray-700 dark:bg-gray-900;
}

.prose code {
  @apply text-gray-800 dark:text-gray-200 px-1 py-0.5 border border-gray-100 dark:border-gray-800 rounded-lg bg-gray-100 dark:bg-gray-900;
}

.prose pre code {
  @apply text-gray-800 dark:text-gray-200 p-0;
  border: initial;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 0.75em !important;
  margin-bottom: 0.75em !important;
}

/* Prism Styles */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-700 dark:text-gray-300;
}

.token.punctuation {
  @apply text-gray-700 dark:text-gray-300;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-500;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-purple-500;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-yellow-500;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-blue-500;
}

.token.function,
.token.class-name {
  @apply text-pink-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply text-gray-800 dark:text-gray-50;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rehype-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t-lg dark:text-gray-200 dark:border-gray-700 dark:bg-gray-800;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.highlight-line {
  @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500 dark:bg-gray-800;
}

.snowflake {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -8px;
  z-index: 9999;
}

.snowflake-void {
  height: 100vh;
  position: fixed;
  top: -8px;
  z-index: 9999;
  font-size: 30px;
}

@keyframes snowFall {
  0% {
  }
  100% {
    transform: translate(200%, 100%);
  }
}

.rollingSwiper {
  width: 100%;
  height: 600px;
}

.rollingSwiperSlide {
  text-align: center;
  font-size: 18px;
  background: white;
  width: 400px !important;
  height: 500px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  white-space: normal;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.rollingSwiperSlide:hover {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
}

.noticeSwiper {
  max-width: 1140px;
  height: 100% !important;
}

.rollingSwiper .swiper-button-prev,
.rollingSwiper .swiper-button-next {
  color: black;
  opacity: 0.2;
  transition: all 0.2s cubic-bezier(0, 0, 0.5, 1);
  scale: 0.8;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.rollingSwiper .swiper-button-prev:hover,
.rollingSwiper .swiper-button-next:hover {
  opacity: 1;
  scale: 1;
  background-color: rgba(0, 0, 0, 0.1);
}

.noticeSwiper .swiper-button-prev,
.noticeSwiper .swiper-button-next {
  color: black;
  opacity: 0.5;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  scale: 0.5;
}
.noticeSwiper .swiper-button-prev:hover,
.noticeSwiper .swiper-button-next:hover {
  opacity: 1;
  scale: 0.6;
}

.noticeSwiperSlide {
  box-shadow: none !important;
  display: flex !important;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
    font-size: small;
  }

  @media screen and (max-width: 640px) {
    font-size: x-small;
  }

  @media screen and (max-width: 480px) {
    font-size: xx-small;
  }
}

.defaultSwiper {
  width: 100% !important;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.defaultSwiperSlide {
  /* 왼쪽  */
  width: calc(100% / 5) !important;
  height: 500px !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.defaultSwiperSlide:hover {
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.16);
  scale: 1.02;
}

.cube-container {
  perspective: 800px;
  width: 40px;
  height: 40px;
  display: flex;
}

.cube-cube-1 {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate-1 2s linear infinite;
}

.cube-cube-2 {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate-2 2s linear infinite;
}

.cube-face {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 128, 255, 0.8);
  border: 1px solid #fff;
}

.cube-front {
  transform: translateZ(20px);
  background-color: #cbff37;
}
.cube-back {
  transform: translateZ(-20px) rotateY(180deg);
  background-color: #cbff37;
}
.cube-right {
  transform: rotateY(-90deg) translateZ(20px);
  background-color: #cbff37;
}
.cube-left {
  transform: rotateY(90deg) translateZ(20px);
  background-color: #cbff37;
}
.cube-top {
  transform: rotateX(-90deg) translateZ(-20px);
  background-color: #cbff37;
}
.cube-bottom {
  transform: rotateX(-90deg) translateZ(20px);
  background-color: #cbff37;
}

@keyframes rotate-1 {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(1, 1, 0, 360deg);
  }
}

@keyframes rotate-2 {
  0% {
    transform: rotate3d(0, 1, 1, 0deg);
  }
  100% {
    transform: rotate3d(0, 1, 1, 360deg);
  }
}
